STAKEHOLDERS:

-->experienced gamers
-->inexperienced gamers
-->children
-->gamers with disabilities and impairments

-->developers
-->game testers (i.e. other teams)
-->game mainters
-->project manager
-->UX and UI designers

-->third party service providers e.g. GitHub, p5.js

-->university (exam board)

EPICS:

(1) Responsive game with unique features and intuitive mechanics
(2) Game with immersive visualisations and audio effects and easy for visually impaired
(3) Coherent theme to the game
(4) Intuitive game with guidance for controls
(5) Game with no bugs or errors and maintainable code
(6) Taking input from gamers e.g. gamer name and keeping track of state data related to the players e.g. tank health, bullets left
(7) Management of size and complexity of game to enable running on third party platforms
(8) Documentation and tracking of game development

USER STORIES AND ACCEPTANCE CRITERIA:

-->As a gamer I want an enjoyable experience so that I return later on.
-->Given I have already played the game, when I return to play again, then I want sustained enjoyment and replay value.

-->As a developer, I want a body of images from the designer so that I can understand dimensions and incorporate these into the game.
-->Given I have a game template, when I integrate the graphics, then I want the images to be scalable.

-->As an inexperienced gamer I want to have simple information about controlling the game so that I can participate without having prior experience of similar games.
-->Given I choose to play the game, when I start playing, then I will be given information about inputs - or else have easy access to such information.

-->As a project manager, I want to have a functional game that executes on the basic mechanics of this genre, so that end-users of the product have an experience that can easily understand.
-->Given external users play the game, when they start playing then the game makes intuitive sense, behaves in a reasonable way, and does not malfunction.
